<footer class="border-t border-border-muted">
  <div class="w-full mx-auto max-w-3xl px-4 py-8 text-sm text-fg-subtle">
    © 2022–2026 {{ metadata.author.name }}. All Rights Reserved.
  </div>
</footer>
