---
title: Posts
tags:
  - "page"
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 5
  alias: postslist
  reverse: true
---

<section class="mb-10">
  <h1 class="text-3xl font-bold tracking-tight leading-tight mb-4">Posts</h1>
  {% include "tagList.njk" %}
</section>

{% include "postslist.njk" %}
{% include "pagination.njk" %}
